<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"  routerLink="/home">
                   <img src="../img/pc.png" alt="">
                   <!-- Controle de Gestão -->
                </a>
            </div>   
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">              
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Estoque</a></li>
                <li><a href="#">Produtos</a></li>
            </ul>
          </div>    
        </div>
      </nav>        
    </header>

</body>
</html>